{% extends "functionalapp/base.html" %}

{% block title %}
    Update the post
{% endblock %}

{% block body %}
    <div class="fixed-container">
        <h1>Update the post</h1>
        <div>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-success">Update</button>
            </form>
        </div>
        <br>
        <div>
            <a href={% url 'blogapp:detail-post' pk=object.pk username=object.author.username %}>Back to my post</a><br><br>
            <a href={% url 'blogapp:delete-post' pk=object.pk username=object.author.username %}>Delete my post</a>
        </div>
    </div>
{% endblock %}