{% extends "functionalapp/base.html" %}

{% block title %}
    Create a post
{% endblock %}

{% block body %}
    <div class="fixed-container">
        <h1>Create a post</h1>
        <br>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-success">Post it</button>
        </form>
        <br>
        <a href={% url 'blogapp:public-user-details' username=user.username %}>Back to my blog</a>
    </div>
{% endblock %}