{% extends "profileapp/base.html" %}
{% load cache %}

{% block title %}
    Update me
{% endblock %}

{% block body %}
    <div class="fixed-container">
        <h1>Edit personal data</h1>
        <h2>User {{ user.username }}</h2>
        <div>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-success">Update</button>
            </form>
        </div>
        <br>
        <div>
            <a href={% url 'profileapp:user-details' username=user.username %}>Back to details</a>
        </div>
    </div>
{% endblock %}