{% extends "profileapp/base.html" %}

{% block title %}
    Personal data
{% endblock %}
{% block body %}
    {% load static %}
    <div class="fixed-container">
        <h1>Personal data</h1>
        <br>
        <p>Username: {{ user.username }}</p>
        <p>Date of birth: {{ user.profile.birth }}</p>
        <p>Email: {{ user.profile.email }}</p>
        <p>Bio: {{ user.profile.bio }}</p><br>
        <p>Avatar:</p>
        <div>{% if not profile.avatar %}
            <p>The photo has not been uploaded yet</p>
        {% else %}
            <p><img src="{{ profile.avatar.url }}" alt="Avatar" width="300px"></p>
        {% endif %}
        </div>
        <div>
            <h3>My pets <a href={% url 'profileapp:register-pet' username=user.username %}>add a pet</a></h3>
            <div>{% if not pets %}
                <p>There are no pets yet</p>
            {% else %}
                {% for pet in pets %}
                    <li>
                        {% if not pet.avatar %}
                            <img src="{% static 'dog-logo.png' %}" alt="logo" width="50px">
                        {% else %}
                            <img src="{{ pet.avatar.url }}" alt="pet-avatar" width="50px">
                        {% endif %}
                        <span><a href={% url 'profileapp:pet-details' username=user.username pk=pet.id %}>{{ pet.name }}</a></span>
                    </li>
                {% endfor %}
            {% endif %}
            </div>
        </div>
    </div>
{% endblock %}