{% extends "profileapp/base.html" %}

{% block title %}
    Personal data
{% endblock %}
{% block body %}
    <div class="fixed-container">
        <h1>Personal data</h1>
        <br>
        <p>Username: {{ user.username }}</p>
        <p>Date of birth: {{ user.profile.birth }}</p>
        <p>Email: {{ user.profile.email }}</p>
        <p>Bio: {{ user.profile.bio }}</p><br>
        <p>Avatar:</p>
        <div>{% if not profile.avatar %}
            <p>The photo has not been uploaded yet</p>
        {% else %}
            <p><img src="{{ profile.avatar.url }}" alt="Avatar" width="300px"></p>
        {% endif %}
        </div>
        <div>
            <h3>My pets <a href={% url 'profileapp:register-pet' %}>Add a pet</a></h3>
            <div>{% if not pet %}
                <p>There are no pets yet</p>
            {% else %}
                {#            <h6><a href={% url 'profileapp:pet-details' petname=pet.name %}>{{ pet.name }}</a></h6>#}
                <h4>{{ pet.name }}</h4>
            {% endif %}
            </div>
        </div>
    </div>
{% endblock %}