{% extends "profileapp/base.html" %}

{% block title %}
    Confirm delete {{ object.name }}
{% endblock %}

{% block body %}
    <div class="fixed-container">
        <h1>Are you sure you want to delete {{ object.username }}?</h1>
        <br>
        <div>
            <a href={% url 'profileapp:update-me' username=user.username %}>Back to details</a>
        </div>
        <br>
        <div>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-success">Delete</button>
            </form>
        </div>
    </div>
{% endblock %}