{% extends "functionalapp/base.html" %}

{% block title %}
    Confirm delete your answer
{% endblock %}

{% block body %}
    <div class="fixed-container">
        <h1>Do you really want to delete your answer?</h1>
        <br>
        <div>
            <a href={% url 'functionalapp:question-details' pk=object.question.pk %}>Back to the question</a>
        </div>
        <br>
        <div>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-success">Delete</button>
            </form>
        </div>
    </div>
{% endblock %}