{% extends "functionalapp/base.html" %}

{% block title %}
    Hello-page
{% endblock %}

{% block body %}
    <div class="fixed-container">
        <div>
            {% if notifications %}
                {% for notification in notifications %}
                    <p>{{ notification }}</p>
                {% endfor %}
            {% endif %}
        </div>
        <h1>Navigation for {{ user.username }}</h1>
        <div>
            <a href={% url 'profileapp:register' %}>Register</a>
        </div>
        <div>
            <a href={% url 'profileapp:login' %}>Login</a>
        </div>
        <div>
            <a href={% url 'profileapp:logout' %}>Logout</a>
        </div>
        {% if user.username %}
            <div>
                <a href={% url 'profileapp:update-me' username=user.username %}>Update-me</a>
            </div>
        {% endif %}
        {% if user.username %}
            <div>
                <a href={% url 'profileapp:user-details' username=user.username %}>User-details</a>
            </div>
        {% endif %}
        <div>
            <a href={% url 'functionalapp:calculator' %}>Calorie calculator</a>
        </div>
        <div>
            <a href={% url 'functionalapp:playground-list' %}>Dog playgrounds</a>
        </div>
        <div>
            <a href={% url 'blogapp:posts-list' %}>hello v2</a>
        </div>
    </div>
{% endblock %}