{% extends "functionalapp/base.html" %}

{% block title %}
    Questions
{% endblock %}

{% block body %}
    <div class="fixed-container">
        <h1>Questions</h1>
        <a href={% url 'functionalapp:question-create' %}>Ask a question</a>
        {% for object in object_list %}
            <div>
                <p>
                <li>
                    <b><a href={% url 'functionalapp:question-details' pk=object.pk %}>{{ object.head }}</a>
                        <a class="mini-links" href={% url 'profileapp:public-user-details' username=object.author %}>{{ object.author }}</a></b>
                <span style="color: grey"> at {{ object.data }}</span>
                </li>
                </p>
            </div>
        {% endfor %}
    </div>
{% endblock %}