{% extends "functionalapp/base.html" %}

{% block title %}
    Question
{% endblock %}

{% block body %}
    {% load static %}
    <div class="fixed-container">
        <h1>Pet questions</h1>
        <h2>{{ question.head }}
            {% if permission %}
                <a style="margin-left: 10px"
                   href={% url 'functionalapp:question-update' pk=question.pk %}><img
                        src="{% static 'edit.png' %}" alt="edit user info" width="40px"></a>
            {% endif %}
        </h2>


        <p><b>{{ question.author }}</b><span style="color: grey"> at {{ question.data }}</span></p>
        <p>{{ question.body }}</p>
        {% if question.photo %}
            <p><img src="{{ question.photo.url }}" alt="photo" width="300px"></p>
        {% endif %}
        <br>

        {% if answers %}
            <h2>Answers</h2>
            {% for answer in answers %}
                <li>
                    <b>{{ answer.author }}</b><span style="color: grey"> at {{ question.data }}</span>
                    <p>{{ answer.body }}</p>
                    {% if answer.photo %}
                    <p><img src="{{ answer.photo.url }}" alt="photo" width="200px"></p>
                    {% endif %}
                </li>
            {% endfor %}
        {% endif %}

        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-success">Answer</button>
        </form>

        <br>
        <a href={% url 'functionalapp:question-list' %}>Back to other questions</a>
    </div>
{% endblock %}